eccodes==1.4.1
pandas==1.4.3
progressbar==2.5
numpy==1.19.5
matplotlib==3.5.2
google-api-core==2.8.2
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
gcsfs==2022.5.0
pdoc3==0.10.0
cdsapi==0.5.1
metview-python==1.12.0